{% extends 'frontend.html.twig' %}

{% block title %}Forms{% endblock %}

{% block body %}
    <h1>Forms</h1>
    <ul>
        <li>
            <a href="">Simple Form</a>
        </li>
        <li>
            <a href="">Entity Form</a>
        </li>
        <li>
            <a href="">Type Form</a>
        </li>
    </ul>
{% endblock %}
